services:
  web:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file: .env
    volumes:
      - ./app/:/home/app/
    depends_on:
      - db

  db:
    image: postgres:16
    env_file: .env
    expose:
      - 5432

  qdrant:
    image: qdrant/qdrant:v1.10.0
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  rag_service:
    build:
      context: ./rag_pipeline
      dockerfile: Dockerfile
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - db
      - qdrant
    volumes:
      - ./documents:/documents


volumes:
  qdrant_data: