fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary
sentence-transformers
qdrant-client
nltk
tqdm
pydantic

# OCR / Документы
paddleocr
paddlepaddle  # или paddlepaddle-gpu, если есть CUDA
pdf2image
pdfplumber
python-docx
beautifulsoup4
Pillow
lxml
